
<div style="background-color: rgb(20, 92, 173);height:100vh;width:100%" class="content">
    <nav class="navbar" style="background-color: rgb(0, 47, 255);">
        <div class="container-fluid">
            
        <a style="position: relative;right: -96%;"class="navbar-brand"><button (click)="logout()"class="btn btn-info">Logout</button></a>
        <button style="position: absolute;right:100px;"routerLink="/api/v1.0/moviebooking/ticket"class="btn btn-info">Tickets</button>
        
        </div>  
    </nav>
    <div >
                    
        <input type="text" style="margin-top:1%;margin-left:15%;width:70vw"class="form-control mt-20" placeholder="Search Movie" [(ngModel)]="searchMovie">
    
        <button *ngIf="role==='Admin'"type="button" class="mb-10 btn btn-outline-primary m2 float-end"
        style="margin: auto;"
        data-bs-toggle="modal"
        data-bs-target="#exampleModal"
        (click)="addClick()"
        >
        Add Movie
        </button> 
    
      
    
        
        <div class="container">
            
            <table style="margin-top:65px;"class="table table-danger mt-20 ">
                <thead>
                    <tr>
                        <th>
                            Movie ID
                        </th>
                        <th>
                            Movie Name
                        </th>
                        <th>
                            Theatre Name
                        </th>
                        <th>
                            Total Seats
                        </th>
                        <th>

                            Tickets Booked
                        </th>
                        <th>
                        Movie Status 
                        </th>
                        <th *ngIf="role==='Admin'">
                            Operations
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let data of movies |search:searchMovie">
                        <td>{{data.movieId}}</td>
                        <td>{{data.movieName}}</td>
                        <td>{{data.theatreName}}</td>
                        <td>{{data.totalTicketsAlloted}}</td>
                        <td>{{data.numberOfTicketsBooked}}</td>
                        <td>{{data.status}}</td>
                        <td  *ngIf="role==='Admin'"><button type="button" class="btn btn-success mr-1"
                            data-bs-toggle="modal"
                            data-bs-target="#exampleModal2"
                            (click)="editClick(data)"
                            
                            >
                            Update Movie
                        </button>
                        
                        <button style="margin-left:4px;"*ngIf="role==='Admin'" type="button" class="btn btn-danger mr-1"
                        (click)="deleteClick(data.movieId)"
                    
                        >
                            Delete Movie
                        </button>
                        
                    </td>
                    </tr>
                </tbody>
            </table>
        </div>
        
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-centered">
            <div  class="modal-content">
        
                <div style="background-color:rgb(0, 47, 255);" class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">{{modalTitle}}</h5>
                <button type="button "class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div style="background-color:rgb(0, 183, 255);"class="modal-body">
                    <div class="input-group mb-3">
                        <span style="background-color:rgb(25, 211, 124);" class="input-group-text">
                            MovieName
                        </span>
                        <input type="text" class="form-control" [(ngModel)]="MovieName">
                        <span style="background-color:rgb(25, 211, 124);" class="input-group-text">
                            TheatreName
                        </span>
                        <input type="text" class="form-control" [(ngModel)]="TheatreName">
                        <span style="background-color:rgb(25, 211, 124);" class="input-group-text">
                            TotalTicketsAlloted
                        </span>
                        <input type="text" class="form-control" [(ngModel)]="TotalTicketsAlloted">
                        <span style="background-color:rgb(25, 211, 124);" class="input-group-text">
                            Status
                        </span>
                        <input type="text" class="form-control" [(ngModel)]="Status">
                    </div>
                
                </div>
            <div style="background-color: rgb(0, 47, 255);  ;"class="modal-footer"> <button class="btn btn-success" type="button" (click)="createClick()">Create</button></div>
            </div>
        
            </div>
        </div>
        
        <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel2" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">
        
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel2">{{modalTitle}}</h5>
                <button type="button "class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="input-group mb-3">
                        <span class="input-group-text">
                            MovieName
                        </span>
                        <input type="text" class="form-control" [(ngModel)]="MovieName">
                        <span class="input-group-text">
                            TheatreName
                        </span>
                        <input type="text" class="form-control" [(ngModel)]="TheatreName">
                        <span class="input-group-text">
                            TotalTicketsAlloted
                        </span>
                        <input type="text" class="form-control" [(ngModel)]="TotalTicketsAlloted">
                        <span class="input-group-text">
                            Status
                        </span>
                        <input type="text" class="form-control" [(ngModel)]="Status">
                    </div>
                
                </div>
            <div class="modal-footer"> <button type="button" (click)="updateClick()">Update</button></div>
            </div>
        
            </div>
        </div></div>
    