
<body style="background-color: rgb(48, 203, 214);height:100vh;">
    
    <div  class="page"></div>
    <nav class="navbar" style="background-color: rgb(0, 47, 255);">
        <div class="container-fluid">
            
        <a style="position: relative;right: -95%;"class="navbar-brand"><button (click)="logout()"class="btn btn-info    ">Logout</button></a>
      
        <button style="position: absolute;right:10.5%" routerLink="/movie" class="m-1 btn btn-info ">Movies</button>
        <button style="position: absolute;right:6%" routerLink="/api/v1.0/moviebooking/ticket" class="m-1 btn btn-info ">Tickets</button>
          
        
        </div>  
    </nav>
    <iframe style="position:absolute;left:15%;top:17%"width="70%" height="70%"
    src="https://www.youtube.com/embed/8EPJiFfWRfw">
    </iframe>
</body>
    


